/* Centrage global */
.job-card {
    background-color: #fffaf6;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

/* Bloc blanc principal */
.job-details {
    background-color: #fff;
    width: 1220px;
    height: 190px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    /* Colonne gauche et flèche à droite */
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

/* Colonne gauche (titre + infos) */
.info-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Titre */
.job-details h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #253040;
    margin: 0;
}

/* Ligne infos (location + contract) */
.job-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.location,
.contract {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.location span {
    font-weight: 400;
    color: #2a7d2e;
}

.contract span {
    font-weight: 400;
    color: #253040;
}

.icon {
    width: 20px;
    height: 25px;
}

.location .icon {
    color: #2a7d2e;
}

.contract .icon {
    color: #253040;
}

/* Flèche bien alignée à droite */
.arrow-icon {
    width: 76px;
    height: 50px;
    color: #253040;
    transition: color 0.3s;
}

.arrow-icon:hover {
    color: #2a7d2e;
}