/* Hero.css */
.hero-section {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background:
        url('../../assets/photos/Home/A_photograph_captures_a_Wallace_Fountain_situated_.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: var(--light-bg);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(14 32 47 / 95%) 30%, rgb(28 58 95 / 50%) 50%, rgba(8, 45, 90, 0) 60%);
    z-index: 1;
}

.hero-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 2;
}

.hero-content {
    max-width: 600px;
}

.hero-content img {
    width: 305px;
    height: 130px;
    margin-bottom: 1.5rem;
    filter: brightness(0) invert(1);
    /* Assure que le logo reste blanc */
}

/* Animation optionnelle pour le logo */
.hero-content img {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out 0.3s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-tagline {
    font-size: 1.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--light-bg);
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: var(--font-secondary);
}

.hero-title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    color: var(--light-bg);
    font-family: var(--font-secondary);
}

.hero-title-line {
    display: block;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--light-bg);
    margin-bottom: 2rem;
}

.hero-cta {
    margin-top: 2rem;
}

.hero-button {
    color: var(--light-bg);
    background-color: var(--secondary);
    width: 250px;
    height: 60px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: var(--font-secondary);
}
.hero-button:hover {
    background-color: #272727;
    color: var(--dark-bg);
}

/* Responsive */
@media (max-width: 768px) {
    .hero-section {
        min-height: 600px;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content img {
        width: 150px;
        margin: 0 auto 1rem;
        display: block;
    }

    .hero-button {
        padding: 0.8rem 2rem;
    }
}