/* ----------- Fil d’Ariane ----------- */
.breadcrumbNeptune-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.932)), url("../../assets/photos/Home/A_photograph_captures_a_Wallace_Fountain_situated_.webp") no-repeat center center / cover;
    padding: 6rem 2rem;
    position: relative;
}

.breadcrumbNeptune-overlay {
    padding: 3rem 2rem;
    color: var(--light-bg);
    text-align: center;
    font-family: var(--font-secondary);
}

#breadcrumb-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-bg);
    margin-bottom: 2.8rem;
}

.services-header h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    animation: fadeIn 0.6s ease forwards;
}

.breadcrumbNeptune {
    font-size: 1rem;
    color: var(--light-bg);
}

.breadcrumbNeptune ol {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.breadcrumbNeptune a {
    color: var(--light-accent);
    text-decoration: none;
}

.breadcrumbNeptune li::after {
    content: ">";
    margin: 1rem;
    color: var(--light-accent);
}

.breadcrumbNeptune li:last-child::after {
    content: "";
    margin: 0;
}

@media (max-width: 768px) {
    .services-header h1 {
        font-size: 2rem;
    }
}