.footer {
    background-color: wheat;
    color: #0c3957;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
    .footer {
        font-size: 0.9rem;
        padding: 10px;
    }
}