.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    box-sizing: border-box;
}

.home-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    z-index: 1;
}
