/* Import de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Styles de la section HomeContact */
.home-contact-container {
    background: var(--color-gradient-2);
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Titre principal */
.home-contact-title h1 {
    font-size: 36px;
    font-weight: 700;
    background: var(--color-gradient-1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

/* Texte d'introduction */
.contact-text {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    /* Couleur du texte en blanc */
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Style du bouton de contact */
.contact-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(115, 226, 167, 0.3);
}

.contact-button:hover {
    background: var(--color-secondary);
    color: var(--color-white);
    box-shadow: 0 6px 15px rgba(115, 226, 167, 0.4);
}