/* Reset général */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur principal */
.our-projects-container {
    background-color: var(--background-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    /* évite l'affichage d'éléments en dehors du carrousel */
}

/* Titre principal */
.our-projects-container h2 {
    font-size: 2.5rem;
    color: wheat;
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Carrousel */
.carousel-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

/* État actif des items */
.carousel-item.active {
    opacity: 1;
    position: relative;
}

/* Style des images */
.carousel-item img {
    width: 100%;
    height: 400px;
    /* Fixe la hauteur des images */
    object-fit: cover;
    /* Assure que l'image couvre entièrement l'espace sans déformation */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Description */
.description {
    background: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

/* Boutons de navigation */
.carousel-prev,
.carousel-next {
    display: none;
}

/* Indicateurs du carrousel */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.carousel-indicator.active {
    background-color: var(--title-color);
}

/* Responsivité */
@media (max-width: 768px) {
    .our-projects-container h2 {
        font-size: 2rem;
    }

    .carousel-container {
        max-width: 100%;
    }

    .carousel-prev,
    .carousel-next {
        font-size: 1.8rem;
    }

    .carousel-item img {
        height: 300px;
        /* Ajuste la hauteur des images sur mobile */
    }
}