/* Styles spécifiques à la section Réalisations */
.realisations-container {
    text-align: center;
    padding: 40px 20px;
}

.realisations-title {
    font-size: 2.5rem;
    color: var(--title2-color);
    margin-bottom: 30px;
}

.realisations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.realisations-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.realisations-card:hover {
    transform: scale(1.05);
}

.realisations-card h3 {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: 10px;
}

.realisations-card p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 15px;
}

.image-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.realisations-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.realisations-image:hover {
    transform: scale(1.2);
}

/* Style de la modale */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-image {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .realisations-grid {
        grid-template-columns: 1fr;
    }

    .realisations-title {
        font-size: 2rem;
    }

    .realisations-image {
        width: 80px;
        height: 80px;
    }
}