/* ----------- Fil d’Ariane ----------- */
.breadcrumb-Services-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.932)), url("../../assets/photos/Home/Fontaine 2.webp") no-repeat center center / cover;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-Services-overlay {
    padding: 3rem 2rem;
    color: var(--light-bg);
    text-align: center;
}

.breadcrumb-services-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    animation: fadeIn 0.6s ease forwards;
    font-family: var(--font-secondary);
}

.Services-breadcrumb {
    font-size: 1rem;
    color: var(--light-bg);
}

.Services-breadcrumb ol {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--font-secondary);
}

.Services-breadcrumb a {
    color: var(--light-accent);
    text-decoration: none;
}

.Services-breadcrumb li::after {
    content: ">";
    margin: 1rem;
    color: var(--light-accent);
}

.Services-breadcrumb li:last-child::after {
    content: "";
    margin: 0;
}

@media (max-width: 768px) {
    .services-header h1 {
        font-size: 2rem;
    }
}