.emotion-water-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
        url('../../assets/photos/Services/image_fontaine_wallace_services.webp');
    background-size: cover;
    color: white;
    padding: 5rem;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner-content {
    text-align: center;
    max-width: 800px;
    font-family: var(--font-secondary);
}

.apostrophe-icon {
    width: 128px;
    height: 103px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-secondary);
}

.banner-subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    padding-top: 0.5rem;
    color: #3e8f50;
    font-family: var(--font-secondary);
}

@media (max-width: 768px) {
    .emotion-water-banner {
        padding: 3rem 2rem;
        height: 400px;
    }

    .apostrophe-icon {
        width: 40px;
        margin-bottom: 0.8rem;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-subtitle {
        font-size: 1.4rem;
    }
}