/* ----------- Section principale ----------- */
.services-page {
    background-color: var(--light-bg);
    color: var(--dark-text);
    font-family: var(--font-body);
}

/* ----------- Section Services ----------- */
/* .services-section {
    padding: 4rem 2rem;
    background-color: var(--light-alt, #f9f9f9);
} */

.services-list-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 5rem 1rem;
}

/* Responsive */
@media (max-width: 900px) {
    .services-list-container {
        flex-direction: column;
    }

    .services-overlay,
    .services-image-section {
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    .services-overlay {
        padding: 1.5rem;
    }
}