/* ----------- Bloc droit ----------- */
.services-image-section {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.6s ease forwards;
    border-radius: 20px;
}

.service-image {
    width: 796px;
    max-width: 100%;
    /* Pour ne pas dépasser la taille du conteneur */
    height: 517px;
    max-height: 60vh;
    /* Limite la hauteur sur écran petits */
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 4.75rem;
    object-fit: cover;
}

.description-title {
    font-size: 2.2rem;
    color: var(--primary);
    margin-bottom: 2.5rem;
    font-family: var(--font-secondary);
}

.description-title1 {
    color: #272727;
}

.description-text {
    max-width: 800px;
    line-height: 1.5;
    font-size: 1rem;
    color: var(--dark-text);
    font-family: var(--font-secondary);
}

@media (max-width: 768px) {
    .services-image-section {
        flex: 1 1 100%;
        padding: 0 1rem 1rem 1rem;
        border-radius: 0;
        /* coins carrés sur mobile */
    }

    .description-title {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .service-image {
        width: 100%;
        height: auto;
        max-height: none;
        /* Pour laisser l’image s’adapter */
        margin-bottom: 1.5rem;
        border-radius: 10px;
        /* coins un peu arrondis */
    }

    .description-text {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 0;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .services-image-section {
        flex: 1 1 100%;
        padding: 0 2rem;
        border-radius: 0;
    }

    .service-image {
        width: 100%;
        max-height: none;
        margin-bottom: 2rem;
    }

    .description-title {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .description-text {
        font-size: 1rem;
    }
}